html,body,#map{
  margin:0px;
  padding:0px;
  height:100%;
  width:100%;
}

#contentContainer{
  height:100% ;
}
#contentContainer>.row,#mapContainer{
  margin: 0px;
  padding:0px;
}

#content{
  padding:20px;
}

#geoJSONContainer{
  padding-left:10%;
  border:1px solid lightgray;
  height:300px;
  overflow-y: auto;
}

/* Hidden rows */
.hidden{
  display: none;
  margin-top:100px;
}

/********** Search ***********/

#search{
  width:auto;
  margin:auto;

}

.arcgisSearch .searchGroup .searchInput {
  height:50px;
  line-height: 50px;
  width:400px;
  font-size: 18px;
}

.arcgisSearch .searchClose, .arcgisSearch .searchSpinner,.arcgisSearch .searchClear{
  line-height: 50px;
  right:10px;
}

.arcgisSearch .searchBtn{
  height:50px;
  line-height: 50px;
    width:50px;
}


.arcgisSearch .searchIcon{
  font-size: 30px;
  line-height: 50px;
}

/******* slider *******/

.dijitSliderBarH,.dijitSliderBumperH{
  height:14px;
}

.esriHorizontalSlider.dijitSlider .dijitSliderImageHandle, .esriHorizontalSlider.dijitSlider .dijitSliderImageHandle.dijitSliderThumbHover{
  background:url('slider_teal.png');
  background-size: contain;
  width:40px;
  height:40px;
}

.dijitSliderImageHandleH{
  top:-12px;
}

/******* geoJSON Modal Button *******/

#geojsonButton{
  background-color:#26a69a;
}

.btn-large{
  font-size: 20px;
  width:100%;
}

.btn-large i{
  font-size:24px;
}
